html, body { height:100%; }
body {
    margin: 0;
   
}

#back {
    background-color: rgb(83, 61, 19);
}

.container {
    width: 100%;
    height: 100%;
}
.container::after {
    content: '';
    clear: left;
}
.notes-container {
    float: left;
    width: 350px;
    height: 100%;
    background-color: rgb(167, 160, 73);
    border: 1px solid black;
    overflow-y: scroll;
    
}
.notes-container #notes {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#notes li{
    cursor: pointer;
    background-color: rgb(167, 160, 73);
}


#notes li  button  {
    height: 50px;
     background-color: darkolivegreen;
     border: 1px solid rgb(40, 48, 13);
}

#notes li  #nota  {
    margin-left: auto;
}


.note-view {
    float: left;
    height: 100%;
    width: calc(100% - 354px);
    border: 1px solid black;
}
.note-view input, .note-view textarea {
    border: none;
    padding: 5px;
}
.note-view input {
    width: calc(100% - 54px);
    background-color: rgb(167, 160, 73);
}
.note-view textarea {
    width: calc(100% - 10px);
    height: calc(100% - 38px);
    background-color: rgb(167, 160, 73);
}

.note-view  {
    background-color: rgb(167, 160, 73);
}

 #add_button{
    border: 1px solid rgb(40, 48, 13);
     background-color: darkolivegreen;
    cursor: pointer;
    width: 100px;
}
 #new_button{
    border: 1px solid rgb(40, 48, 13);
     background-color: darkolivegreen;
    cursor: pointer;
    width: 100px;
}
#edit_button  {
    border: 1px solid rgb(40, 48, 13);
     background-color: darkolivegreen;
    cursor: pointer;
    width: 100px;
}

#save_button  {
    border: 1px solid rgb(40, 48, 13);
    background-color: darkolivegreen;
   cursor: pointer;
   width: 100px;
}