html, body { height:100%; }
body {
    margin: 0;
}
.container {
    width: 100%;
    height: 100%;
}
.container::after {
    content: '';
    clear: left;
}
.notes-container {
    float: left;
    width: 350px;
    height: 100%;
    border: 1px solid black;
    overflow-y: scroll;
}
.notes-container #notes {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#notes li{
    cursor: pointer;
}


#notes li button  {
    margin-left: auto;
     background-color: darkolivegreen;
}



.note-view {
    float: left;
    height: 100%;
    width: calc(100% - 354px);
    border: 1px solid black;
}
.note-view input, .note-view textarea {
    border: none;
    padding: 5px;
}
.note-view input {
    width: calc(100% - 54px);
}
.note-view textarea {
    width: calc(100% - 10px);
    height: calc(100% - 38px);
}
 #add_button{
   
     background-color: darkolivegreen;
    cursor: pointer;
    width: 100px;
}
 #new_button{
   
     background-color: darkolivegreen;
    cursor: pointer;
    width: 100px;
}
#edit_button  {
   
     background-color: darkolivegreen;
    cursor: pointer;
    width: 100px;
}

#save_button  {
   
    background-color: darkolivegreen;
   cursor: pointer;
   width: 100px;
}