html, body { height:100%; }
body {
    margin: 0;
}

#back {
    background-color: rgb(83, 61, 19);
}

.navbar{
    background-color: rgb(184, 138, 12);
    height: 100px;
    width: 100%;
   
}

.navbar img{
    margin-left: auto;
}

.navbar h1{
   font-size: 87px;
   margin-bottom: auto;
   color:darkolivegreen;
}

.note-text{
    width: 100%;
    height: 200px;
    
}

.container  {
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 100px rgba(14, 59, 6, 0.5), 0px 0px 500px rgba(14, 59, 6, 0.5);
   
    
}



.notes-container {
  
    float: left;
    width: 350px;
    height: 100%;
    background-color: rgb(167, 160, 73);
    border: 1px solid black;
    overflow-y: scroll;
    
}
.notes-container #notes {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#notes li{
    cursor: pointer;
    background-color: rgb(167, 160, 73);
    border: 1px solid black;
}


#notes li  button  {
    height: 50px;
     background-color: darkolivegreen;
     border: 1px solid rgb(40, 48, 13);
}

#notes li  #nota  {
    margin-left: auto;
    
}


.note-view {
    float: left;
    height: 100%;
    width: calc(100% - 350px);
    border: 1px solid black;
}
.note-view input, .note-view textarea {
    border: none;
    padding: 5px;
}
.note-view input {
    width: calc(100% - 54px);
    background-color: rgb(167, 160, 73);
}
.note-view textarea {
    width: calc(100% - 8px);
    height: calc(100% - 100px);
    background-color: rgb(167, 160, 73);
    border: 1px solid black;
    
   
}

.note-view  {
    background-color: rgb(167, 160, 73);
}

 #add_button{
    border: 1px solid rgb(40, 48, 13);
     background-color: darkolivegreen;
    cursor: pointer;
    width: 100px;
}
 #new_button{
    border: 1px solid rgb(40, 48, 13);
     background-color: darkolivegreen;
    cursor: pointer;
    width: 100px;
}
#edit_button  {
    border: 1px solid rgb(40, 48, 13);
     background-color: darkolivegreen;
    cursor: pointer;
    width: 100px;
}

#save_button  {
    border: 1px solid rgb(40, 48, 13);
    background-color: darkolivegreen;
   cursor: pointer;
   width: 100px;
}