body{
    margin-top: 10px; 
    width: 100%; 
    font-size: 24px;
    background-color: #181817;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #252422;
    width: 1400px;
    
    margin: 0 auto;
    
}

.toolbar{
    width: 100%;
    background-color: chocolate;
}

#noteDate{
    background-color: brown;
    margin-left: 300px;
    padding: 10px;
    width: 400px;
    font-size: 10px;
    height: 5px;
    
}



#noteName{
    background-color: brown;
    margin-left: 300px;
    height: 20px;
    padding: 10px;
    width: 400px;
    font-size: 20px;
   
    
}

#noteText{
    margin-left: 300px;
    background-color: brown;
    
    padding: 10px;
    width: 400px;
    font-size: 15px;
   
    
}

.ul{
 background-color: blanchedalmond; 
 width: 200px;

 
}

.row{
    background-color: darkseagreen;
}

.toolbar_add_btn{
    background-color: rgb(117, 113, 50);
}

.toolbar_delete_btn{
    background-color: rgb(117, 113, 50);
}

.toolbar_edit_btn{
    background-color: rgb(117, 113, 50);
}